import

.wrapper {

    background:rgb(28, 29, 31);
}

.ourCollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("src/assets/vector.svg");
background-repeat: no-repeat;}
.intro{

    color : rgb(255, 249, 239);
}

.title{
color : rgb(255, 249, 239);
}


.displayCoffee{




}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
    }




