.wrapper {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url("src/assets/bg-cafe.jpg");
    margin :1px;

}

.collection{
   width:80%;
    height: 80%;
    position :absolute;
    top:30%;


}
.body{
    margin:0rem;
}
.topBackImage{
    margin:auto;
    background-color: red;
}